body {
    font-family: sans-serif;

    display: flex;
    flex-direction: row;

    height: 100%;
    margin: 0;

    overflow: auto;
}

.toc {
    flex: 0 0 16em;
    overflow: auto;

    border-right: 2px solid #f0f0f0;
    background-color: #ffffff;
    z-index: 1;

    display: flex;
    flex-direction: column;
}

.toc-entry {
    list-style-type: none;
}

.toc-selected {
    font-weight: bold;
}

.toc-section {
}

.toc-section-header {
    font-weight: bold;
    font-style: italic;
    list-style-position: outside;
}

.toc-list {
    padding-left: 1em;
    margin: 0;
}

.toc-header {
    border-bottom: 2px solid #f0f0f0;
    padding: 1em;
}

.toc-header-name {
    font-size: 1.5em;
}

.toc-content {
    margin-left: 1em;
}

.content-box {
    flex: 1 0 0;
    overflow: auto;

    padding: 0em 2em;
}

.content {
    max-width: 64em;
    text-align: justify;

    margin-left: auto;
    margin-right: auto;
}

code, pre {
    background-color: #f0f0f0;
}

pre {
    border-radius: .5em;
    padding: .5em;

    overflow: auto;
}

:not(pre) > code {
    padding: .25em;
    border-radius: .25em;
}
