header, footer {
    hr {
        border: .1em solid;
    }
}

header > h1 {
    margin: .25em 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

.content > footer {
    margin-bottom: 1em;
    padding-top: .5em;
}

.navigation {
    display: flex;
}

.navigation-filler {
    flex: 1 0 0;
}

@media (prefers-color-scheme: dark) {
    header, footer { 
        hr {
            border-color: #333333;
        }
    }
}

@media (prefers-color-scheme: light) {
    header, footer { 
        hr {
            border-color: #f0f0f0;
        }
    }
}
